@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

a[href^="http"] {
  color: inherit;
}

body {
  background: url('public/Haunted_Forest.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: $font;
  font-weight: bold;
  text-decoration: none;
}

footer {
  align-items: center;
  color: white;
  height: 50px;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

h5 {
  color: white;
}

p {
  font-size: 15px;
}

.background-info {
  margin: 10px;
}

.btn {
  background-color: #ABF2C4;
  border-radius: 12px;
  color: #3D5947;
  display: inline-block;
  flex: 1 1 0px;
  margin: 5px;
  outline: 1px #ABF2C4 !important;
  padding: 10px;
}

.btn:hover {
  background-color: #3D5947;
  color: #ABF2C4;
  outline: 1px #ABF2C4;
}

.change-password,
.sign-out,
.get-all-encounters,
.show-encounter,
.update-encounter,
.delete-encounter,
.create-encounter,
.resource-view {
  display: none;
}

.content {
  background-color: rgba(114, 165, 132, .8);
  border-radius: 12px;
  padding: 10px;
  color: white;
  // margin: 5px;
}

.modal-body {
  color: #2D3F33;
}

.modal-title {
  color: #2D3F33;
  text-align: center;
}

.title {
  font-size: 150px;
  margin: 5px;
  text-align: center;
  color: white;
}

#message-center {
  color: white;
  text-align: center;
}
