@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

body {
  background-attachment: fixed;
  // background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Gloomy_Forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: $font;
}

p {
  font-size: 15px;
}

.auth {
  background-color: rgba(61, 89, 71, 0.5);
  // margin: 5px;
}

.change-password {
  display: none;
}

.content {
  background-color: rgb(114, 165, 132);
  // margin: 5px;
}

.sign-out {
  display: none;
}

.title {
  margin: 5px;
  text-align: center;
}
