@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

a[href^="https"] {
  color: inherit;
}

body {
  background-attachment: fixed;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Gloomy_Forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: $font;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-size: 15px;
}

.btn {
  background-color: #ABF2C4;
  border-radius: 12px;
  color: #3D5947;
}

.change-password,
.sign-out,
.get-all-encounters,
.show-encounter,
.update-encounter,
.delete-encounter {
  display: none;
}

.content {
  background-color: rgba(114, 165, 132, .8);
  border-radius: 12px;
  padding: 10px;
  // margin: 5px;
}

.title {
  font-size: 100px;
  margin: 5px;
  text-align: center;
  color: white;
}
